body {
    background-color: #fcd04b;
    color: white;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #fcad26;
    font-size: 16px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px #efa424;
}

.btn:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
}

.btn:active {
    box-shadow: none;
    top: 6px;
}

.translate {
    margin: 50px 20px;
}

.translateP, .move-right, .move-down {
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
}

.move-right {
    background-color: #3498db;
    transform: translateX(100px);
}

.move-down {
    background-color: purple;
    transform: translateY(20px);
}

.move-right:hover, .move-down:hover, .translateP:hover {
    transform: translate(20px, 20px);
}

.transform, .transformedP {
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    color: #ecf0f1;
    border: 2px solid #2c3e50;
}

.transformedP {
    background-color: #3498db;
    transform: scale(2);
    transform-origin: 0 0;
}

.transformed {
    margin: 80px 20px;
}

.container {
    font-size: 62.5%;
    margin: 0 auto;
}
